<!DOCTYPE html>
<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <!-- Site Metas -->
   <title>Cristmax - Responsive HTML5 Landing Page Template</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Site Icons -->
   <link rel="shortcut icon" href="imgs/fevicon.png" type="image/x-icon" />
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- Site CSS -->
   <link rel="stylesheet" href="style.css">
   <!-- Colors CSS -->
   <link rel="stylesheet" href="css/colors.css">
   <!-- ALL VERSION CSS -->
   <link rel="stylesheet" href="css/versions.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- Custom CSS -->
   <link rel="stylesheet" href="css/custom.css">
   <!-- Modernizer for Portfolio -->
   <script src="js/modernizer.js"></script>
   <!--[if lt IE 9]>
   <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
   <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
   <![endif]-->
   </head>
   <body class="christmas_version">
      <!-- LOADER -->
      <div id="preloader">
         <img class="preloader" src="imgs/loading.gif" alt="">
      </div>
      <!-- end loader -->
      <!-- END LOADER -->
      <header class="header header_style_01">
         <nav class="megamenu navbar navbar-default" data-spy="affix">
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="index.html"><img src="imgs/logo.png" alt="image"></a>
               </div>
               <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                     <li><a data-scroll href="#home">Home</a></li>
                     <li><a data-scroll href="#features">Donate & Gift</a></li>
                     <li><a data-scroll href="#chris_party">Christmas Party</a></li>
                     <li><a data-scroll href="#choose_gift">Your Gifts</a></li>
                     <li><a data-scroll href="#contact_us">Contact</a></li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>
      <div id="home" class="section first-section wb banner_section">
         <div class="container">
            <div class="row">
               <div class="col-md-7">
                    <div class="contact_form">
                        <h3><i class="fa fa-envelope-o"></i> Contact us</h3>
                        <form id="contactform1" class="row" name="contactform" method="post">
                            <fieldset class="row-fluid">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="first_name1" id="first_name1" class="form-control" placeholder="First Name">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="last_name1" id="last_name1" class="form-control" placeholder="Last Name">
                                </div>
                                <div class="col-lg-12">
                                    <input type="email" name="email1" id="email1" class="form-control" placeholder="Your Email">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="phone_no" id="phone_no" class="form-control" placeholder="Phone no">
                                </div>
                                <div class="col-lg-12">
                                   <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Write your message.."></textarea>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <button type="submit" value="SEND" id="submit1" class="btn btn-light btn-radius btn-brd grd1 btn-block">Send</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
               <div class="wow slideInRight hidden-xs">
                  <img src="uploads/banner1_inner.png" alt="" class="img-responsive">
               </div>
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
      </div>
      <!-- end section -->
      <div id="features" class="section wb">
         <div class="container">
            <div class="section-title row text-center">
               <div class="col-md-6 col-md-offset-3">
                  <h3>Donate & Gift</h3>
               </div>
            </div>
            <!-- end title -->
            <div class="row">
               <div class="col-md-6 hidden-xs hidden-sm">
                  <img src="imgs/banner1_inner.png" class="img-center img-responsive" alt="">
               </div>
               <div class="col-md-6 col-sm-12 col-xs-12">
                  <ul class="features-right">
                     <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                        <i class="fa fa-gift effect-1"></i>
                        <div class="fl-inner">
                           <h4>Best Wishes</h4>
                           <p>The tradition was also embraced by retailers, for whom the weeks and, eventually, the entire month before Christmas..</p>
                        </div>
                     </li>
                     <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                        <i class="fa fa-ship effect-1"></i>
                        <div class="fl-inner">
                           <h4>Free shipping</h4>
                           <p>The tradition was also embraced by retailers, for whom the weeks and, eventually, the entire month before Christmas..</p>
                        </div>
                     </li>
                     <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.4s">
                        <i class="fa fa-undo effect-1"></i>
                        <div class="fl-inner">
                           <h4>Easy Return</h4>
                           <p>The tradition was also embraced by retailers, for whom the weeks and, eventually, the entire month before Christmas..</p>
                        </div>
                     </li>
                  </ul>
                  <ul>
                     <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s"><a class="btn btn-dark btn-radius btn-brd">Donate</a></li>
                  </ul>
               </div>
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
      </div>
      <!-- end section -->
      <!-- section -->
      <div class="santa_caunter section">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <div class="section-title row text-center">
                        <div class="col-md-6 col-md-offset-3">
                           <h3>Christmas is Coming!</h3>
                        </div>
                     </div>
                     <!-- end title -->
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-8">
                  <div class="full center_">
                     <div class="countdown-container">
                        <h1 id="christmasTime">Let's countdown to Christmas!</h1>
                        <div id="countdown">
                           <ul>
                              <li><span id="d"></span>Days</li>
                              <li><span id="hr"></span>Hours</li>
                              <li><span id="min"></span>Minutes</li>
                              <li><span id="sec"></span>Seconds</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="full">
                     <img class="santa_come" src="imgs/santa_coming.png" alt="#" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end section -->
      <!-- section -->
      <div id="wishes" class="section db noover">
         <div class="container">
            <div class="row text-center">
               <div class="text-center image-center hidden-sm hidden-xs">
                  <img src="imgs/w1.png" alt="" class="img-responsive wow fadeInDown">
               </div>
               <div class="col-md-7 col-md-offset-5 col-sm-12">
                  <div class="customwidget text-left">
                     <h1>Christmas Wish & Last Years Party</h1>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                     <p>Inspirational Christmas Greetings Messages for your loved ones – whether you’re sending a small gift to grandma or need something special to write for your mum, you will find plenty of inspiration here!</p>
                     <a href="#" class="btn btn-dark btn-radius btn-brd">Send Wishes</a>
                  </div>
               </div>
               <!-- end col -->
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
      </div>
      <!-- end section -->
      <!-- end section -->
      <!-- section -->
      <div id="chris_party" class="section">
         <div class="container">
            <div class="section-title row text-center">
               <div class="col-md-12">
                  <h3>Christmas Party</h3>
                  <p>Christmas is an annual festival commemorating the birth of Jesus Christ, observed on December 25 as a religious and cultural celebration among billions of people around the world. A feast central to the Christian liturgical year, it is preceded by the season of Advent or the Nativity Fast and initiates the season of Christmastide..</p>
               </div>
               <div class="col-md-12 text-center">
                  <a class="btn btn-dark btn-radius btn-brd">Join the Party</a>
               </div>
            </div>
            <!-- end title -->
            <div class="img-center">
               <img src="imgs/santa_party.png" alt="" class="img-responsive">
            </div>
         </div>
         <!-- end row -->
      </div>
      <!-- end section -->
      <div id="choose_gift" class="section">
         <div class="container">
            <div class="section-title row text-center">
               <div class="col-md-10 col-md-offset-1">
                  <h3>Check your gifts</h3>
                  <p class="lead">Christmas Day is a public holiday in many of the world's nations, is celebrated religiously by a majority of Christians, as well as culturally by many non-Christians, and forms an integral part of the holiday season centered around it.</p>
               </div>
            </div>
            <!-- end title -->
            <div class="owl-watch owl-carousel owl-theme text-center">
               <div class="service-widget">
                  <div class="post-media wow fadeIn">
                     <a href="imgs/g1.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                     <img src="imgs/g1.png" alt="" class="img-responsive img-rounded">
                  </div>
                  <h3>Gift one</h3>
                  <p>Starting from $59.00</p>
               </div>
               <!-- end service -->
               <div class="service-widget">
                  <div class="post-media wow fadeIn">
                     <a href="imgs/g2.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                     <img src="imgs/g2.png" alt="" class="img-responsive img-rounded">
                  </div>
                  <h3>Gift two</h3>
                  <p>Starting from $49.00</p>
               </div>
               <!-- end service -->
               <div class="service-widget">
                  <div class="post-media wow fadeIn">
                     <a href="imgs/g3.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                     <img src="imgs/g3.png" alt="" class="img-responsive img-rounded">
                  </div>
                  <h3>Gift three</h3>
                  <p>Starting from $519.00</p>
               </div>
               <!-- end service -->
               <div class="service-widget">
                  <div class="post-media wow fadeIn">
                     <a href="imgs/g4.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                     <img src="imgs/g4.png" alt="" class="img-responsive img-rounded">
                  </div>
                  <h3>Gift four</h3>
                  <p>Starting from $119.00</p>
               </div>
               <!-- end service -->
               <div class="service-widget">
                  <div class="post-media wow fadeIn">
                     <a href="imgs/g1.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                     <img src="imgs/g1.png" alt="" class="img-responsive img-rounded">
                  </div>
                  <h3>Gift one</h3>
                  <p>Starting from $49.00</p>
               </div>
               <!-- end service -->
               <div class="service-widget">
                  <div class="post-media wow fadeIn">
                     <a href="imgs/g2.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                     <img src="imgs/g2.png" alt="" class="img-responsive img-rounded">
                  </div>
                  <h3>Gift two</h3>
                  <p>Starting from $609.00</p>
               </div>
               <!-- end service -->
            </div>
            <!-- end row -->
         </div>
         <!-- end container -->
      </div>
      <!-- end section -->
      <!-- section -->
      <div id="contact_us" class="section">
         <div class="container">
            <div class="row">
               <div class="section-title row text-center">
                  <div class="col-md-12">
                     <h3>Contact us</h3>
                  </div>
               </div>
               <!-- end title -->
            </div>
            <div class="row">
               <div class="col-lg-10 col-lg-offset-1 col-sm-12 col-xs-12">
                  <div class="contact-block">
                     <form id="contactForm" class="row" name="contactform" method="post">
                            <fieldset class="row-fluid">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                  <div class="form-group">
                                    <input type="text" name="first_name1" id="first_name1" class="form-control" placeholder="First Name">
                                 </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                 <div class="form-group">
                                    <input type="text" name="last_name1" id="last_name1" class="form-control" placeholder="Last Name">
                                 </div>
                                </div>
                                <div class="col-lg-12">
                                 <div class="form-group">
                                    <input type="email" name="email1" id="email1" class="form-control" placeholder="Your Email">
                                 </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                 <div class="form-group">
                                    <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject">
                                 </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                 <div class="form-group">
                                    <input type="text" name="phone_no" id="phone_no" class="form-control" placeholder="Phone no">
                                 </div>
                                </div>
                                <div class="col-lg-12">
                                 <div class="form-group">
                                   <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Write your message.."></textarea>
                                </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                   <div class="submit-button text-center">
                                    <button type="submit" value="SEND" id="submit1" class="btn btn-dark btn-radius btn-brd">Send Message</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                  </div>
               </div>
               <div class="col-lg-10 col-lg-offset-1 col-sm-12 col-xs-12">
                  <div class="row">
                     <div class="col-md-4">
                        <div class="media cont-line">
                           <div class="media-left icon-b">
                              <i class="fa fa-location-arrow" aria-hidden="true"></i>
                           </div>
                           <div class="media-body dit-right">
                              <h4>Address</h4>
                              <p>Fleming 196 Woodside Circle</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="media cont-line">
                           <div class="media-left icon-b">
                              <i class="fa fa-envelope" aria-hidden="true"></i>
                           </div>
                           <div class="media-body dit-right">
                              <h4>Email</h4>
                              <p>demoinfo@gmail.com</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="media cont-line">
                           <div class="media-left icon-b">
                              <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                           </div>
                           <div class="media-body dit-right">
                              <h4>Phone Number</h4>
                              <p>+91 12345 67890</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end row -->
      </div>
      <!-- end section -->
      <div class="copyrights">
         <div class="container">
            <div class="footer-distributed text-center">
               <div class="footer-left">
                  <p class="footer-links">
                     <a data-scroll="" href="#home">Home</a>
                     <a data-scroll="" href="#features">Donate & Gift</a>
                     <a data-scroll="" href="#chris_party">Christmas Party</a>
                     <a data-scroll="" href="#choose_gift">Your Gifts</a>
                     <a data-scroll="" href="#contact_us">Contact</a>
                  </p>
                  <p class="footer-company-name">Copyright © 2021 All Rights Reserved. Design by <a href="https://html.design">Free Html Templates</a></p>
               </div>
            </div>
         </div>
         <!-- end container -->
      </div>
      <!-- end copyrights -->
      <a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
      <!-- ALL JS FILES -->
      <script src="js/all.js"></script>
      <!-- ALL PLUGINS -->
      <script src="js/custom.js"></script>  
   </body>
</html>
